:root {
    --blue1: #11486f;
    --blue2: #628db7;
    --pink: #ffcdce;
    --red: #ff5963;
    --white: #fbfcfe;
    --black: #000000;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--black);
  }
  
  header {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1vh;
    font-size: 3rem;
  }
  
  h1 {
    animation: colorChange 20s infinite;
  }

  Label{
    color: var(--pink);
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 4rem);
  }
  
  button {
    width: 30%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 5px solid currentColor;
  }
  
  #button1 {
    animation: colorChange 20s infinite;
  }
  
  #button2 {
    animation: colorChange 20s infinite;
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem; /* Adjust this value to control the font size of h1 on small screens */
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .button-container {
      flex-direction: column;
      height: auto; /* Reset height to auto for small screens */
      margin-top: 6rem; /* Add a margin to separate the buttons from the h1 on small screens */
    }
  
    button {
      width: 100%;
      margin-bottom: 6rem; /* Adjust this value to control the space between the buttons on small screens */
    }
  }
  
  @keyframes colorChange {
    0%, 20% {
      color: var(--white);
    }
    20%, 40% {
      color: var(--pink);
    }
    40%, 60% {
      color: var(--blue2);
    }
    60%, 80% {
      color: var(--red);
    }
    80%, 100% {
      color: var(--blue1);
    }
  }